.Weather {
  border: 3px solid #e20714;
  font-family: Arial, Helvetica, sans-serif;
  padding: 18px;
  margin: 30px auto;
  max-width: 800px;
  border-radius: 5px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #e20714;
  display: block;
  font-size: 24px;
  font-weight: 150;
  height: 28px;
  line-height: 30px;
}

.Weather li {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 19px;
  list-style: none;
  text-align: left;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  margin-left: 15px;
}

.Weather .unit {
  font-size: 15px;
  position: relative;
  top: -20px;
  margin-left: 5px;
}
